NEXT_PUBLIC_SUPABASE_URL=https://fanhamxbbnfydtzzwsls.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhbmhhbXhiYm5meWR0enp3c2xzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5MzM0MzIsImV4cCI6MjA4MDUwOTQzMn0.d5TaTCPvQu97W5hshSeW-GHu_ReFCl8Y3Ke7YDfF6zY
